{% extends '::base.html.twig' %}

{% block title %}TalkSeries{% endblock %}
{% block body %}
{% block header %}
<div class="header">
  <h1>Notre site TalkSeries</h1>
</div>
{% endblock %}
{% endblock %}
