* {
  margin: 0px;
}

/**************************************************
********************* HEADER **********************
***************************************************/
.header {
  background-color: rgb(223, 223, 223);
  height: 225px;
}

.row-1 {
  height: 150px;
}

.row-2 {
  height: 25px;
}

.row-3 {
  height: 50px;
}

/*** LOGO DU SITE ***/
.col-md-10 {
  padding: 0px;
}

img {
  height: 150px;
  width: 100%;
}

/*** IDENTIFICATION ***/
.col-md-2 {
  padding: 0px;
}

.log {
  padding: 20px;
  height: 150px;;
  border: solid 1px rgb(182, 182, 182);
}

.form-control {
  margin-bottom: 5px;
}

/**************************************************
********************* MAIN ************************
***************************************************/

/**************************************************
********************* FOOTER **********************
***************************************************/
